.sidebar {
    width: 250px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    padding: 1rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 1rem;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
}